:root {
    --resurrect-deep-black: #313638;
    --resurrect-black: #2e222f;
    --resurrect-off-black: #3e3546;
    --resurrect-off-black-purple: #7f708a;
    --resurrect-deep-orange: #ea4f36;
    --resurrect-orange: #fb6b1d;
    --resurrect-yellow: #f9c22b;
    --resurrect-lime-green: #d5e04b;
    --resurrect-pale-yellow: #fbff86;
    --resurrect-jade: #239063;
    --resurrect-green: #1ebc73;
    --resurrect-light-green: #91db69;
    --resurrect-teal: #0b8a8f;
    --resurrect-light-teal: #0eaf9b;
    --resurrect-bluish-green: #30e1b9;
    --resurrect-mint: #8ff8e2;
    --resurrect-weird-purple: #484a77;
    --resurrect-dark-blue: #4d65b4;
    --resurrect-blue: #4d9be6;
    --resurrect-light-blue: #8fd3ff;
    --resurrect-plum: #6b3e75;
    --resurrect-purple: #905ea9;
    --resurrect-lavender: #a884f3;
    --resurrect-purplish-pink: #eaaded;
    --resurrect-blush: #ed8099;
    --resurrect-red: #c32454;
    --resurrect-pink: #f04f78;
    --resurrect-orangish-pink: #f68181;
    --resurrect-pinkish-orange: #fca790;
    
    --header-background: #C5E0F3;
}

/* Default aka Mobile */

html {
    background-color: var(--resurrect-pinkish-orange);
}

header {
    max-width: 1000px;
    background-clip: padding-box;
    background-color: var(--header-background);
    margin: 25px auto;
    
    border-image-slice: 8 8 8 8;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: round round;
    image-rendering: pixelated;
    
    padding: 0px 24px 24px 24px;
    border-image-source: url(./ui/funnyBorder.png);
    border-style: solid;
}

nav ul {
    list-style: none;
    display: inline;
    padding: 0;
}

nav ul li {
    display: inline-block;
    width: 100px;
}

/* Tablet */
@media only screen and (min-width: 600px) {
    
}

/* Desktop */
@media only screen and (min-width: 1000px) {

    h1 {
        font-size: 48px;
    }

    html {
        background-image: url(./pictures/stardust.png);
        background-attachment: fixed;
    }

}
