:root {
    --main-bg-color: rgb(30, 30, 46);
    --white-text: rgb(205, 214, 244);
    --navbar-bg: rgb(24, 24, 37);
    --darker-bg: rgb(17, 17, 27);
}

html {
    background-color: var(--main-bg-color);
    color: var(--white-text);
}

body {
    background-color: var(--main-bg-color);
}

header {
    text-align: center;
}

h2, h3 {
    margin-top: 2px;
    margin-bottom: 10px;
}

a {
    color: var(--white-text);
}

main a:visited {
    color:grey;
}
footer a:visited {
    color:rebeccapurple;
}

a:hover {
    text-shadow: 0 0 0px, 0 0 3px grey;
}

footer a:hover {
    text-shadow: 0 0 0px, 0 0 3px purple;
}

.rating {
    overflow-x: auto;
    width: 175px;
    text-align: center;
}

.writing-art {
    width: 50px;
}

.review {
    display: inline-block;
}

.review-left {
    float: left;
    clear: both;
}

.review-right {
    margin-left: 15px;
}

hr {
    border: 0;
    height: 2px;
    margin-top: 1em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(220, 224, 232, 0.75), rgba(0, 0, 0, 0));
}



nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: var(--navbar-bg);
}

nav {
    font-size: 20px;
}

nav li {
    width: 160px;
    padding: 15px;
}

nav a {
    color: inherit;
    font-weight:bolder;
}

table {
    border-radius: 10px;
}

tbody tr:nth-child(odd){
    background-color: var(--darker-bg);
}

table caption {
    background-color: var(--darker-bg);
    font-size: 20px;
    text-transform: uppercase;
    padding-top:5px;
    padding-bottom:5px;
}

td {
    padding: 5px;
}

.art {
    width: 100px;
}

/* desktop version */
@media only screen and (min-width: 1000px) {

h1 {
    font-size:48px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 5px;
    }

.art {
    width: 200px;
}

html {
    background-image: url(./pictures/stardust.png);
    background-attachment: fixed;
    }
}